In [8]:
#엑셀파일 읽어오기
from pandas import *

happy_life = read_excel('대한민국행복지도_삶의만족도.xlsx')
happy_life.head()

   No     시도   구군  삶의 만족도
0   1  서울특별시  종로구  0.4437
1   2  서울특별시   중구  0.4976
2   3  서울특별시  용산구  0.6161
3   4  서울특별시  성동구  0.4729
4   5  서울특별시  광진구  0.4041

In [9]:
happy_health= read_excel('대한민국행복지도_건강.xlsx')

In [10]:
happy_safe = read_excel('대한민국행복지도_안전.xlsx')
happy_safe.head()

,No,시도,구군,평균,사회안전에 대한 인식 b),인구 천명당 cctv 대수 b),인구 십만명당 응급의료기관 및 응급실 운영기관수,단위면적당 지역경찰관서 수,지역안전등급 현황 중 '교통사고 및 화재' a)
0,1,서울특별시,종로구,0.7470,0.9965,0.4796,0.7498,0.9998,0.0162
1,2,서울특별시,중구,0.9320,0.9707,0.8214,0.6938,1.0000,0.3014
2,3,서울특별시,용산구,0.5537,0.6641,0.4311,0.1768,0.8923,0.5075
3,4,서울특별시,성동구,0.5347,0.7452,0.4330,0.1562,0.9800,0.3014
4,5,서울특별시,광진구,0.6072,0.7179,0.2196,0.2019,0.9785,0.7117

In [11]:
happy_environ = read_excel('대한민국행복지도_환경.xlsx')
happy_environ.head()

,No,시도,구군,평균,환경체감도 b),인구 천명당 1일 산업폐수 방류량 a),도시지역 중 '녹지지역 비율',미세먼지(PM2.5) a) b),주민 1인당 생활폐기물배출량 a)
0,1,서울특별시,종로구,0.4637,0.4658,0.7223,0.2012,0.7704,0.0006
1,2,서울특별시,중구,0.2865,0.1077,0.6957,0.0013,0.6617,0.0000
2,3,서울특별시,용산구,0.5030,0.3142,0.7185,0.1349,0.6895,0.4571
3,4,서울특별시,성동구,0.4196,0.1480,0.6868,0.0347,0.3757,0.7426
4,5,서울특별시,광진구,0.4992,0.1229,0.6940,0.0574,0.7235,0.7016

In [12]:
happy_econo = read_excel('대한민국행복지도_경제.xlsx')
happy_econo.head()

,No,시도,구군,평균,1인당 지역내총생산(GRDP),인구 천명당 사업체수,인구 천명당 종사자수,국민기초생활보장 수급자비율 a),종사자 천명당 영세자영업자 수 a)
0,1,서울특별시,종로구,1.0000,1.0000,1.0000,1.0000,0.7564,0.9037
1,2,서울특별시,중구,0.9806,1.0000,1.0000,1.0000,0.6718,0.9177
2,3,서울특별시,용산구,0.6915,0.6334,0.5493,0.7282,0.7910,0.8341
3,4,서울특별시,성동구,0.6533,0.5132,0.5368,0.6849,0.8243,0.8377
4,5,서울특별시,광진구,0.4445,0.2906,0.3424,0.3870,0.8681,0.7480

In [13]:
happy_relation = read_excel('대한민국행복지도_관계 및 사회참여.xlsx')
happy_relation.head()

,No,시도,구군,평균,인구 십만명당 자살률 a),1인가구(독거노인 제외) 비율 a),독거노인가구 비율 a),인구 십만명당 사회적기업수,가족관계 만족도 b)
0,1,서울특별시,종로구,0.7425,0.8318,0.0057,0.7593,0.9981,0.5949
1,2,서울특별시,중구,0.4608,0.5462,0.0107,0.7254,1.0000,0.2329
2,3,서울특별시,용산구,0.4317,0.7288,0.0211,0.7754,0.7194,0.2009
3,4,서울특별시,성동구,0.4182,0.7288,0.0791,0.8332,0.6783,0.0937
4,5,서울특별시,광진구,0.3519,0.9434,0.0051,0.8541,0.2461,0.2058

In [29]:
happy_edu = read_excel('대한민국행복지도_교육.xlsx')
happy_edu.head()

,No,시도,구군,평균,교원 1인당 학생수,영유아 천명당 보육시설 수,인구 십만명당 학교수,인구 천명당 사설학원수
0,1,서울특별시,종로구,0.6839,0.8505,0.6248,0.2249,0.8126
1,2,서울특별시,중구,0.5013,0.8729,0.4147,0.2294,0.2944
2,3,서울특별시,용산구,0.2679,0.6479,0.3804,0.1281,0.1629
3,4,서울특별시,성동구,0.2464,0.7661,0.2270,0.1308,0.3366
4,5,서울특별시,광진구,0.4879,0.9309,0.4263,0.1278,0.4607

In [14]:
happy_leisure = read_excel('대한민국행복지도_여가.xlsx')
happy_leisure.head()

,No,시도,구군,평균,여가활용 만족도 b),노인 천명당 노인여가복지시설수,인구 십만명당 도서관수,인구 십만명당 문화기반시설수,인구 천명당 체육관련 여가시설수
0,1,서울특별시,종로구,0.6331,0.8409,0.1573,0.4523,0.9997,0.5559
1,2,서울특별시,중구,0.6691,0.6224,0.1467,0.5369,0.8441,0.9886
2,3,서울특별시,용산구,0.2817,0.6381,0.1628,0.2453,0.3715,0.2934
3,4,서울특별시,성동구,0.3257,0.5657,0.1859,0.3590,0.2768,0.4859
4,5,서울특별시,광진구,0.3313,0.6740,0.1443,0.2333,0.2058,0.6365

### 데이터 병합

In [26]:
#시도 데이터 추출하기 
# 시군구 별로 해보기
city = list(happy_life['시도'].unique())
happy_merge=DataFrame({'시도':city})
happy_merge

         시도
0     서울특별시
1     부산광역시
2     대구광역시
3     인천광역시
4     광주광역시
5     대전광역시
6     울산광역시
7   세종특별자치시
8       경기도
9       강원도
10     충청북도
11     충청남도
12     전라북도
13     전라남도
14     경상북도
15     경상남도
16  제주특별자치도

In [20]:
#'삶의 만족도' 데이터 병합
life = happy_life['삶의 만족도'].groupby(by=happy_life['시도']).mean()
happy_merge=merge(happy_merge,life, on='시도')
happy_merge.head(3)

      시도    삶의 만족도
0  서울특별시  0.490972
1  부산광역시  0.362081
2  대구광역시  0.363988

In [21]:
#'건강' 데이터 병합
health = happy_health['평균'].groupby(by=happy_health['시도']).mean()
happy_merge=merge(happy_merge,health.rename('건강'), on='시도')
happy_merge.head(3)

      시도    삶의 만족도        건강
0  서울특별시  0.490972  0.569532
1  부산광역시  0.362081  0.511906
2  대구광역시  0.363988  0.482325

In [22]:
#'안전' 데이터 병합
safe = happy_safe['평균'].groupby(by=happy_safe['시도']).mean()
happy_merge=merge(happy_merge,health.rename('안전'), on='시도')
happy_merge.head(3)

      시도    삶의 만족도        건강        안전
0  서울특별시  0.490972  0.569532  0.569532
1  부산광역시  0.362081  0.511906  0.511906
2  대구광역시  0.363988  0.482325  0.482325

In [28]:
#'환경' 데이터 병합
environ = happy_environ['평균'].groupby(by=happy_environ['시도']).mean()
happy_merge=merge(happy_merge,environ.rename('환경'), on='시도')
happy_merge.head(3)

      시도        경제        환경
0  서울특별시  0.532820  0.470712
1  부산광역시  0.438038  0.448719
2  대구광역시  0.393975  0.552500

In [27]:
#'경제' 데이터 병합
econo = happy_econo['평균'].groupby(by=happy_econo['시도']).mean()
happy_merge=merge(happy_merge,econo.rename('경제'), on='시도')
happy_merge.head(3)

      시도        경제
0  서울특별시  0.532820
1  부산광역시  0.438038
2  대구광역시  0.393975

In [30]:
#'교육' 데이터 병합
edu = happy_edu['평균'].groupby(by=happy_edu['시도']).mean()
happy_merge=merge(happy_merge,edu.rename('교육'), on='시도')
happy_merge.head(3)

      시도        경제        환경        교육
0  서울특별시  0.532820  0.470712  0.399412
1  부산광역시  0.438038  0.448719  0.504594
2  대구광역시  0.393975  0.552500  0.585838

In [24]:
#'관계 및 사회참여' 데이터 병합
relation = happy_relation['평균'].groupby(by=happy_relation['시도']).mean()
happy_merge=merge(happy_merge,relation.rename('관계 및 사회참여'), on='시도')
happy_merge.head(3)

      시도    삶의 만족도        건강        안전        환경  관계 및 사회참여
0  서울특별시  0.490972  0.569532  0.569532  0.470712   0.390656
1  부산광역시  0.362081  0.511906  0.511906  0.448719   0.294719
2  대구광역시  0.363988  0.482325  0.482325  0.552500   0.407486

In [ ]:
#'여가' 데이터 병합
leisure = happy_leisure['평균'].groupby(by=happy_leisure['시도']).mean()
happy_merge=merge(happy_merge,leisure.rename('여가'), on='시도')
happy_merge.head(3)

## 2.3 (p.370)
### 데이터 검산
진짜 데이터가 맞는지 보는것 중요함!

In [ ]:
print(happy_merge['삶의 만족도'].mean())
print(happy_life['삶의 만족도'].mean())